<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>News</h1>
  <a routerLink="/news/new" mat-button>NEW POST</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let comment of comments"
  >
    <mat-card>
      <mat-card-title>{{ comment.author }}</mat-card-title>
      <mat-card-content>
        <p>{{ comment.comment }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
        <h3>Add New Comment</h3>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input name="name" required matInput ngModel/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea
            name="comment"
            ngModel
            required
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"
          ></textarea>
        </mat-form-field>
        <div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
          >Add</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>


