<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>News</h1>
  <a routerLink="/news/new" mat-button>NEW POST</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="50%"
    fxFlex.lt-lg="33%"
    fxFlex="25%"
    *ngFor="let post of news"
  >
    <mat-card>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <img *ngIf="post.image"
        [src]="post.image"
        [alt]="'Photo of ' + post.title"
        mat-card-image
      />
      <mat-card-content>
        <p>{{ post.date }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a
          [routerLink]="['/news/', post.id]"
          mat-button
        >Read full post</a>
        <a
          (click)="onRemove()"

          mat-button
        >Delete</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

